function div 2

push constant 0
pop local 0
push argument 0
pop local 1 

label while 
push local 1 
push argument 1
lt
if-goto end
push local 0
push constant 1 
add
pop local 0
push local 1
push argument 1
sub
pop local 1
goto while

label end
push local 0
return


function mod 2

push constant 0
pop local 0
push argument 0
pop local 1 

label while1 
push local 1 
push argument 1
lt
if-goto end1
push local 0
push constant 1 
add
pop local 0
push local 1
push argument 1
sub
pop local 1
goto while1

label end1
push local 1
return