// Poziv funkcije
push constant 3
push constant 5
push constant 4
call min 3 // poziv funkcije min i daje joj tri argumenta

function min 0  // 0 lokalnih varijabli
push argument 0 // ucitaj a
push argument 1 // ucitaj b
lt
if-goto A_MANJI
goto B_MANJI

label A_MANJI
push argument 0 //ucitaj a
push argument 2 // ucitaj c
lt
if-goto A_NAJMANJI
goto C_NAJMANJI

label B_MANJI
push argument 1 // ucitaj b
push argument 2 // ucitaj c
lt
if-goto B_NAJMANJI
goto C_NAJMANJI

label A_NAJMANJI
push argument 0 // najmannji je a
goto END

label B_NAJMANJI
push argument 1 // najmanji je b
goto END

label C_NAJMANJI
push argument 2 // najmanji je c
goto END

label END
return